*.o
*.gch
*.swp
a.out
experiments/dumb_bot
experiments/replay_player
experiments/leaderboard/venv
tools/bmov_to_fm2
tools/bmov_to_fm2_data/*.dat
tools/fm2_dumper
tools/fm2_player
src/server/stb_server
src/server/stb_server_beta
__pycache__
